<div class="container">
  <div class="row">
    <div class="col">
      <h1>Voici la liste des reservations de <%= @user.name%> </h1>
      <ul class="list-group">
        <% @bookings.each do |booking|  %>
            <li class="list-group-item mt-3">
              <a href="#" class="avatar">
                <%= cl_image_tag @masterpieces.find(booking.masterpiece_id).photo.key, class: "avatar" %>
              </a>
              Titre : <%= @masterpieces.find(booking.masterpiece_id).title %>
              <% proprio_id = @masterpieces.find(booking.masterpiece_id).user_id %>
              Propriétaire : <%= @users.find(proprio_id).name %>
              Montant : <%= booking.total_amount %>
              Date de début : <%= booking.start_at %>
              Date de fin : <%= booking.end_at %>
              <%= link_to 'Annuler ma réservation', booking_path(booking.id), class: 'btn btn-info', data: {turbo_method: :delete, turbo_confirm: "Voulez vous supprimer cette réservation?"} %>
              <div data-controller="toggle-booking-form" class="my-3">
                <button data-action="click->toggle-booking-form#fire" class="btn btn-primary">Modifier ma réservation</button>
                <div data-toggle-booking-form-target="togglableElement" class="d-none">
                  <%= render "form", masterpiece: @masterpieces.find(booking.masterpiece_id), booking: booking %>
                </div>
              </div>
            </li>
        <% end  %>
      </ul>
    </div>
  </div>
