<div class="container">
  <div class="row">
    <div class="col">
      <h1>Voici la liste des reservations de <%= @user.email%> </h1>
      <ul class="list-group">
        <% @bookings.each do |booking|  %>
            <li class="list-group-item mt-3">
            <%# je récupère les infos de la masterpiece faisant l'objet de la réservation %>
              Titre : <%= @masterpieces.find(booking.masterpiece_id).title %>
              Montant : <%= booking.total_amount %>
              Date de début : <%= booking.start_at %>
              Date de fin : <%= booking.end_at %>
              <%= link_to 'Annuler réservation', booking_path(booking.id), class: 'btn btn-info', data: {turbo_method: :delete, turbo_confirm: "Voulez vous supprimer cette réservation?"} %>
            </li>
        <% end  %>
      </ul>
    </div>
  </div>
