<%#<div class="cardbooking">
<%#  <h2><b><%= @masterpiece.price %> <%# €</b> per day </h1>
<%#  <div class="cardbookingdates">
<%#    <div class="cardbookingselection_left">
<%#      <h2><b>START FROM</b></h2>
<%#      <h3><%= Date.today %><%# </h3>
<%#    </div>
<%#    <div class="cardbookingselection_right">
<%#      <h2><b>TO</b></h2>
<%#      <h3><%= Date.today + 1 %><%# </h3>
<%#   </div>
<%#  </div>
<%#  <%= link_to 'I want to book it', new_masterpiece_booking_path(params[:id]), class: 'cardbookingbtn' %>
<%#</div>%>

<% today = Date.today %>
<% tommorrow = Date.today + 1 %>
<div class="cardbooking">
  <h2><b><%= @masterpiece.price %> €</b> per day </h1>
  <form action="<%= url_for([@masterpiece, @booking]) %>" method="post">
  <div class="cardbookingdates">
    <div class="cardbookingselection_left">
      <h2><b>START FROM</b></h2>
      <div class="inputadj">
        <input type="text" id="booking_start_at" name="booking[start_at]" size ="10" data-controller="datepicker" class ="center" placeholder="<%= today %>">
      </div>
    </div>
    <div class="cardbookingselection_right">
      <h2><b>TO</b></h2>
      <div class="inputadj">
        <input type="text" id="booking_end_at" name="booking[end_at]" size ="10" data-controller="datepicker" class ="center" placeholder= "<%= tommorrow %>">
      </div>
    </div>
  </div>
  <input type="submit" value="I want to book it" class="cardbookingbtn">
  </form>
<%#  <%= link_to 'I want to book it', new_masterpiece_booking_path(params[:id]), class: 'cardbookingbtn' %>
</div>
