<% masterpieces.each do |masterpiece|  %>
    <div class="home-card-masterpiece">
      <h3>
        <%= masterpiece.title %>
      </h3>
      <% if (params[:search].present? && params[:search][:start_at].present? && params[:search][:end_at].present?) %>
        <%= link_to masterpiece_path(masterpiece,start_at:params[:search][:start_at],end_at:params[:search][:end_at]) do %>
          <%= cl_image_tag masterpiece.photo.key %>
        <% end %>
      <% else %>
        <%= link_to masterpiece_path(masterpiece) do %>
          <%= cl_image_tag masterpiece.photo.key %>
        <% end %>
      <% end %>
    </div>
<%end%>
