<%= simple_form_for masterpiece do |f| %>
    <div class="form-group mt-3 ">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :category %>
      <%= f.select :category, Masterpiece::AUTHORIZED_CATEGORIES, {}, { class: 'form-control' } %>
    </div>

    <div class="form-group mt-3">
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-group mt-3">
      <%= f.submit 'Enregistrer', class: 'btn btn-ghost' %>
    </div>
  <% end %>
