<div class="container">
  <div class="row">
    <div class="col">
      <h2>Voici la liste des oeuvres publiées de <%= @user.name %> </h2>
      <div data-controller="toggle-add-masterpiece" class="my-3">
        <button data-action="click->toggle-add-masterpiece#fire" class="btn btn-primary">Publier une annonce</button>
        <div data-toggle-add-masterpiece-target="togglableElement" class="d-none">
          <%= render "form", masterpiece: @new_masterpiece %>
        </div>
      </div>
      <ul class="list-group">
        <% @masterpieces.each do |masterpiece|  %>
          <li class="list-group-item mt-3">
            <a href="#" class="avatar">
              <%= cl_image_tag masterpiece.photo.key, class: "avatar" %>
            </a>
            <%= link_to masterpiece.title, masterpiece %>
            <div data-controller="toggle-reservation" class="my-3">
              <button data-action="click->toggle-reservation#fire" class="btn btn-outline-primary">Voir les réservations programmées</button>
              <div data-toggle-reservation-target="togglableElement" class="d-none">
                <%= render "booking", bookings: @bookings, users: @users, masterpiece: masterpiece %>
              </div>
            </div>
            <div>
              <%= link_to 'Supprimer annonce', masterpiece_path(masterpiece.id), class: 'btn btn-info my-3', data: {turbo_method: :delete, turbo_confirm: "Voulez vous supprimer cette oeuvre?"} %>
            </div>
          </li>
        <% end  %>
      </ul>
    </div>
  </div>
</div>
