<section class="slider">
  <div class="slide" style="background-image: url('https://images.unsplash.com/photo-1652766825080-88818e6509b6?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="content">
      <h2>Searching for an artwork ?<br>Opt for renting</h2>
      <p>Rent today and enjoy the space, a moment, a unique creation to contemplate every day.<br>Painting, Drawing, Poster, Photography, ... Discover the works of our artits.</p>
      <a href="#" class="main-btn" id="btn-slider">Discover the renting</a>
    </div>
  </div>
  <div class="slide" style="background-image: url('https://images.unsplash.com/photo-1576926241721-4b830531f667?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="content">
      <h2>Vintage posters</h2>
      <p>Our top-of-the-line selection! World maps, graphic posters, and striking paintings... <br>The possibilities are endless to dress up and personalize your walls.</p>
      <a href="#" class="main-btn">Explore the selection</a>
    </div>
  </div>
  <div class="slide" style="background-image: url('https://images.unsplash.com/photo-1652766825080-88818e6509b6?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="content">
      <h2>The current artists</h2>
      <p>Vibrant paintings that resonate with emotion, canvas artworks spanning various styles, including street art movement. Our collection invites you to explore the multiple facets of contemporary artistic expression.</p>
      <a href="#" class="main-btn">Explore the selection</a>
    </div>
  </div>
  <div class="slide" style="background-image: url('https://images.unsplash.com/photo-1578926078640-668b1fb75403?q=80&w=2866&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="content">
      <h2>The watercolors</h2>
      <p>Whether to brighten up your interior or to give an unforgettable gift, our watercolors will charm your heart and awaken your artistic sensibility.</p>
      <a href="#" class="main-btn">Explore the selection</a>
    </div>
  </div>

  <div class="dots-container">
      <span class="dot" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
      <span class="dot" data-index="3"></span>
  </div>
</section>

  <section>
    <div class="show-list">
      <div class="head">
        <div class="text-content">
          <h3>Our artworks</h3>
          <p>Discover the artworks that our customers love.</p>
        </div>
        <div class="link">
          <a href="..." class="secondary-btn">Discover the collection</a>
        </div>
      </div>
   </div>
  </section>

  <section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-ghost my-5" data-bs-toggle="modal" data-bs-target="#homeSearchModal">
  Search masterpiece
</button>

<!-- Modal -->
<div class="modal" id="homeSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeSearchModalLabel">Find an artwork to rent quickly!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "searchform" %>
      </div>
    </div>
  </div>
</div>
<%# fin modal %>


<%# cards des oeuvres %>
<div class="container">
  <h2>Nouvelle version</h2>
  <div class="home-cards-masterpieces">
    <%= render "cardmasterpieces", masterpieces: @masterpieces %>
  </div>
</div>


<h2>Ancienne version</h2>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Our artworks</h1>
          <ul class="list-group">
            <% @masterpieces.each do |masterpiece|  %>
              <li class="list-group-item mt-3">
                <% if (params[:search].present? && params[:search][:start_at].present? && params[:search][:end_at].present?)  %>
                  <%= link_to masterpiece.title, masterpiece_path(masterpiece,start_at:params[:search][:start_at],end_at:params[:search][:end_at]) %>
                  <%= masterpiece_path(masterpiece,start_at:params[:search][:start_at],end_at:params[:search][:end_at]) do %>
                    <%= cl_image_tag masterpiece.photo.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
                <% else %>
                  <%= link_to masterpiece_path(masterpiece) do %>
                    <%= cl_image_tag masterpiece.photo.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
                  <%= link_to masterpiece.title, masterpiece_path(masterpiece) %>
                <% end %>
              </li>
            <% end  %>
          </ul>

        </div>
      </div>
    </div>
<%# fin des cards oeuvre %>

  </section>

  <section>
    <div class="nav-blocks">
      <div class="left-blocks">
        <div class="nav-block__item">
          <h3>Paintings</h3>
          <img src="https://images.unsplash.com/photo-1548685913-70235e21eab2?q=80&w=2889&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Bloc-1">
        </div>
        <div class="nav-block__item">
          <h3>Photographies</h3>
          <img src="https://images.unsplash.com/photo-1519668752166-ebdbfe986afd?q=80&w=2468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
      </div>

      <div class="right-blocks">
        <div class="nav-block__item">
          <h3>Posters & Prints</h3>
          <img src="https://www.fleux.com/cdn/shop/products/aperol-negroni_1200x.jpg?v=1675471292" alt="">
        </div>
        <div class="nav-block__item">
          <h3>Drawings & Illustrations</h3>
          <img src="https://images.unsplash.com/photo-1589637458063-7b054f0c18ab?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
        <div class="nav-block__item">
          <h3>Artists</h3>
          <img src="https://images.unsplash.com/photo-1500628550463-c8881a54d4d4?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="pre-footer"></div>
  </section>

  <section>
    <div class="footer"></div>
  </section>
