
<div class="searchdesc">
      <%= simple_form_for :search, method: :get do |f| %>
        <div class="searchdesc">
          <%= f.input :search, label: "Search by title, description or address", required: false %>
          <%= f.input :max_price, label: "Maximal price",required: false,
              input_html: { type: :number,name: :max_price,value: params.dig(:max_price) } %>
          <%= f.input :category, label: "Category",required: false, collection: Masterpiece::AUTHORIZED_CATEGORIES,
              include_blank: true, selected: params.dig(:category), input_html: { name: :category } %>
          <%= f.input :start_at, label: "Début de location", as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_at, label: "Fin de location", as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.submit "Search", class: 'btn btn-primary'%>
        </div>
      <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Voici la liste des oeuvres</h1>
      <ul class="list-group">
        <% @masterpieces.each do |masterpiece|  %>
          <li class="list-group-item mt-3">
            <%= link_to masterpiece.title, masterpiece %>
             <%= cl_image_tag masterpiece.photo.key, height: 300, width: 400, crop: :fill %>
          </li>
        <% end  %>
      </ul>
    </div>
  </div>
</div>
