
<div class="searchdesc">
      <%= simple_form_for :search, method: :get do |f| %>
        <div class="searchdesc">
          <%= f.input :search, label: "Search by title, description or address" %>
          <%= f.submit "Search"%>
        </div>
      <% end %>
</div>

<div class="divsearch hidden">
  <div class="searchtypeofcategory">

      <% ms = %w(paint sculpture photo) %>
      <% ms.each do |item|%>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          <p><%= item %></p>
        </label>
      </div>
      <% end %>

  </div>



  <div class="searchdate">
<%#    <%= simple_form_for :search, method: :get, defaults: {required: false } do |f| %>
<%#      <%= f.start_at :title, label: "Start at", input_html: {type: :date, name: :start_at, value: params.dig(:start_at)} %>
<%#      <%= f.end_at :description, label: "End at", input_html: {type: :date, name: :end_at, value: params.dig(:end_at)} %>
<%#    <% end %>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Voici la liste des oeuvres</h1>
      <ul class="list-group">
        <% @masterpieces.each do |masterpiece|  %>
          <li class="list-group-item mt-3">
            <%= link_to masterpiece.title, masterpiece %>
          </li>
        <% end  %>
      </ul>
    </div>
  </div>
</div>
