<div class="container">

      <div class="showimage">
        <%= cl_image_tag @masterpiece.photo.key, height: 300, width: 400, crop: :fill %>
      </div>

      <div class="showinfos">
      <div class="showtext">

      <h1><b><%= @masterpiece.title %></b></h1>
      <p><strong>Owner:</strong> <%= @users.find(@masterpiece.user_id).name %></p>
      <p><strong>Description:</strong> <%= @masterpiece.description %></p>
      <p><strong>Lolisation:</strong> <%= @masterpiece.address %></p>
      <p><strong>Category:</strong> <%= @masterpiece.category %></p>

      </div>
      <%= render "cardbooking", bookings: @bookings, users: @users, masterpiece: @masterpiece %>
      </div>

  <div class="btnback">
    <%= link_to 'Back to masterpieces', masterpieces_path, class: 'cardbookingbtn' %>
  </div>

</div>
